<div class="container">
  <h1 class='header'>
    <%= @user.firstname %>
    <%= @user.lastname %>
  </h1>
  <div class='center'>
    <h3>username:<div class="color"><%= @user.username %></div>
    </h3>
    <h4>
      <%= @user.email %></h4>
  </div>
</div>
