// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
  text-align:center !important;
  background-color:darkorchid !important;
}

.shadow {
  text-shadow: 2px 2px 0px #fff, 6px 6px 0px rgba(0,0,0,0.15);
}
